# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
/.vscode
/.idea
/.fleet

# Environment & Config
.env
.env.backup
.env.production
auth.json
Homestead.yaml
Homestead.json

# Build & Temp files
/public/hot
/public/build
.phpunit.result.cache
npm-debug.log
yarn-error.log
